[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
selenium = "*"

[packages]
django = "*"
gunicorn = "*"
whitenoise = "*"
pep8 = "*"
fabric3 = "*"
coverage = "*"

[requires]
python_version = "3.7"
